.list-products{
    max-width: 850px;
    margin: auto;
    padding: 10px;
}

.list-products .icon-comments{
    background: url(../img/icons-comments.svg);
    background-repeat: repeat;
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.list-products .icon-votes{
    background: url(../img/icons-votes.svg);
    background-repeat: repeat;
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin: auto;
}

.icon-author{
    background: url(../img/user.svg);
    background-repeat: repeat;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
    top: -5px;
    position: relative;
}
